/* styles/CustomAuthenticator.css */
:root {
    --amplify-primary-color: #ff9900;
    --amplify-primary-tint: #ffb347;
    --amplify-primary-shade: #ff8c00;
  }

  .amplify-authenticator {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }

  .amplify-button--primary {
    background: linear-gradient(
      to right,
      var(--amplify-colors-green-80),
      var(--amplify-colors-orange-40)
    );
  }

  .amplify-button:hover {
    background-color: var(--amplify-primary-tint);
  }